* {
    padding: 0;
    margin: 0;
    /* background-color: grey; */
    box-sizing: border-box;
    border-radius: 10px;
}
body {
    /* background: linear-gradient(180deg, grey,black, grey); */
    background-color: rgb(240, 245, 255);
    overflow-x: hidden;
    font-family: 'Baloo Bhai 2', sans-serif;
}
.nav {
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
    background-color: white;
    border-radius: 10px;
    width: 100vw;
}
.nav-left {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 10vw;
}
.nav-left-1 {
    color: blue;
    font-weight: 900;
    font-style: italic;
    padding-left: 35px;
}
.nav-left-2 {
    color: grey;
    padding-left: 20px;
    font-style: italic;
}
.nav-left-2 span {
    color: orange;
    font-style: italic;
}
.nav-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
}
.search {
    width: 100%;
    height: 7vh;
    text-align: center;
    background-color: rgb(240, 245, 255);
    border: none;
}
.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    padding: 0 10px;
}
.nav-right-1,
.nav-right-2,
.nav-right-3 {
    gap: 5px;
    padding: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right-2 > span > a {
    text-decoration: none;
    color: black;
}
footer {
    position: relative;
    bottom: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 100vw;
}
main {
    width: 100vw;
}
.fa-solid {
    color: orange;
    font-size: 15px;
    position: relative;
    bottom: 1px;
}
.items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    /* margin: 10px; */
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.item img {
    height: 9vh;
}
.hero {
    width: 100vw;
}
.hero-2 {
    width: 100vw;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cards {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card1,
.card2,
.card3 {
    width: 32%;
}
